body {
    font-family: 'Pacifico';
    display: flex;
    justify-content: center;
    align-items: 'center';
}

button {
    color: red;
    font-size: 30px;
    font-family: 'Arial';
    background: transparent;
    border: transparent;
    font-weight: bold;
}

canvas {
    border: 1x solid #0a3cda;
    margin: 10px;
}